
<div class="flex align-start">

    <div id="left-nav">
        <img [src]="pathToLogo" alt="logo" class="icon large">
        <div 
            class="item" 
            *ngFor="let navItem of leftNavItems" 
            (click)="mode =navItem.targetMode"
        >
            {{ navItem.text }}
        </div>
    </div>
    
    <div id="tabs">
        <div class="tab" [class.active]="mode == Modes.ideas">
            <ng-content></ng-content>
        </div>
        
        <div class="tab" [class.active]="mode == Modes.search">
            search...
        </div>
        
        <div class="tab" [class.active]="mode == Modes.messages">
            messages...
        </div>
        
        <div class="tab" [class.active]="mode == Modes.notifications">
            notifications...
        </div>    
    </div>

</div>

