#container {
    position: relative;

    & > * {  margin-top: 0; margin-bottom: 0; }

    #logged-in-user-pp {
        position: absolute;
        top: 0;
        right: 0;
    }

    #description {
        max-width: var(--idea-card-width);
    }

    app-goal-chips { width: 100%; }
}

