:root {
    --background-color: #323232;
    --transparent-background-color: #32323280;
    --foreground-color: #ffffff;
    --transparent-foreground-color: #ffffff80;
    --green-color: #1ACB0C;
    --primary-color: #FF005C;
    --goal-color-1: #89465E;
    --goal-color-2: #894646;
    --goal-color-3: #896A46;
    --goal-color-4: #808946;
}