.input {
    width: 100%; 
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    outline: none;
    background: none;
    border: none;
    resize: none;
}