<div id="container" class="flex column align-start large-gap">

    <h1 id="greetings">{{ chooseGreetings() }} 👋</h1>

    <div id="inputs" class="flex column gap">
        <input class="input" type="text" [(ngModel)]="username" placeholder="Username"/>
        <input class="input" type="password" [(ngModel)]="password" placeholder="Password"/>
    </div>

    <div id="buttons" class="flex column gap">
        <button mat-raised-button class="green">Log in</button>
        <span>or</span>
        <button mat-raised-button (click)="auth.logIn()">
            <img src="/assets/google-logo.png"/>
            Log in with Google
        </button>
        <div id="other-providers" class="flex" mat-ripple>
            <mat-icon>expand_more</mat-icon>
            <span>Other providers</span>
        </div>
    </div>

    <p id="new-here-container"><span id="new-here">New here? </span><span id="create-an-account">Create an account</span></p>

</div>