
<div id="container">

    <div id="left-nav" class="flex column large-gap">
        <div 
            class="flex"
            (click)="mode = Modes.ideas"
            matRipple
            [matRippleUnbounded]="true"
            [matRippleCentered]="true"
        >
            <img [src]="pathToLogo" alt="logo" class="icon large"/>
        </div>
        
        <div 
            *ngFor="let navItem of leftNavItems" 
            class="item flex column" 
            [class.selected]="mode == navItem.targetMode"
            (click)="mode = navItem.targetMode"
            matRipple
            [matRippleUnbounded]="true"
            [matRippleCentered]="true"
        >
            <mat-icon>{{ navItem.icon }}</mat-icon>
            <span>{{ navItem.text }}</span>
        </div>
    </div>
    
    <div id="tabs">
        <div class="tab" [class.active]="mode == Modes.ideas">
            <ng-content></ng-content>
        </div>
        <div class="tab" [class.active]="mode == Modes.search">
            search...
        </div>
        <div class="tab" [class.active]="mode == Modes.messages">
            messages...
        </div>
        <div class="tab" [class.active]="mode == Modes.notifications">
            notifications...
        </div>    
    </div>

</div>

